#loginContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    position: relative;
  }
  
  #loginBg {
    flex: 1;
    width: 100%;
    position: absolute;
  }
  
  #loginBg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .searchImg{
    width: 20px;
  }
  
  #loginform {
    background-color: white;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
    position: relative;
    z-index: 1;
  }
  
  #headingLogin {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  #username,
  #password {
    margin-bottom: 0.5rem;
  }
  
  #loginFormBtn,
  #loginwithBtn {
    width: 100%;
    margin-top: 1rem;
  }
  
  #glogo {
    margin-right: 0.5rem;
    display: inline-block;
  }
  
  #gtext {
    display: inline-block;
    vertical-align: middle;
  }
  
  @media (min-width: 768px) {
    #loginform {
      width: 70%;
    }
  }
  
  @media (min-width: 992px) {
    #loginform {
      width: 50%;
    }
  }
  